.login_main_container {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(125deg, #fff  0%, #c9fbfd 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_form_container {
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 30%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login_form_container > * {
    width: 80%;
    display: flex;
    align-items: center;
}

.login_header {
    font-size: 2vw;
    justify-content: center;
    font-family: 'quantifybold', sans-serif;
}

.login_form_container input {
    background: none;
    border: none;
    outline: none;
}

.input_container {
    display: flex;
    background-color: #fff;
    border: 2px solid lightgrey;
    border-radius: 1vh;
    align-items: center;
    justify-content: space-around;
    height: 5vh;
    margin: 1vh;
}

.input_container:focus-within {
    border: 2px solid rgb(130, 200, 247);
}

.input_logo_container, .options_container {
    color: rgb(158, 158, 158);
    
}

.options_container {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.options_container:hover {
    
    color: #000;
}

.input_container input {
    width: 80%;
}

.login_form_container > small {
    color: rgb(245, 112, 112);
}


.remember_container {
    font-size: 2.5vh;
    font-weight: 350;
    color: rgb(88, 87, 87);
    height: 5vh;
    display: flex;
    align-items: center;
}

.remember_container input::-ms-check {
    color: red;
    background: black;
    padding: 1em;
}